<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict/>
	<key>NSFaceIDUsageDescription</key>
	<string>Login with Face ID</string>
	<key>CFBundleDisplayName</key>
	<string>The Monthly Expense Tracker</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
</dict>
</plist>
